.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
    box-sizing: border-box;
}
.box {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    background-color: rgb(37, 49, 52);
    color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
